h1{
    color:darkviolet;
}
h2 {
    color:deeppink;
    padding-left: 5%;
}

h1, h2, h3, h4 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

j1{
    letter-spacing: 10px;
    /*padding-left: 10%;*/
    background: coral;
    width:80%;
    padding: 1em; 
    margin:auto; 
}

intro1{
   color:azure; 
   text-decoration:none;
   padding: 1em 0; 
   display:block;

}
