

h1, h2, h3, h4 {
    color:grey;
    padding-left: 7;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p1{
    letter-spacing: 10px;
    /*padding-left: 10%;*/
    background: coral;
    width:80%;
    padding: 1em; 
    margin:auto; 
}

intro1{
   color:azure; 
   text-decoration:none;
   padding: 1em 0; 
   display:block;

}
